@import '../../../scss/variables';

.images{
    display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.7rem;
	margin-bottom: 2rem;

	> img{
		margin: 0 0.5rem;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		padding-bottom: 0.5rem;
		transition: border-bottom .4s ease;

		&.active{
			border-color: $accent;
		}
	}
}