@import '../../../scss/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}