@import '../../scss/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

	height: 100%;
    max-width: 560px;
    width: 100%;

    padding: 25px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &.otherPage {
        height: 280px;
        border-radius: 0 0 20px 20px;
        box-shadow: $bx-accent;
    }
}
.heading{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: $white;
}