@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

$accent: #B53471;
$white: #F1E8E8;
$dark-purple: #310C24;
$black: #1A0612;
$purple: #511734;

$bx-accent: 0px 4px 4px rgba(181, 52, 113, 0.25);
$bx-16: 0px 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0px 3px 6px rgba(0, 0, 0, 0.1);

$default-font: 'Roboto';
